VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=daughtridge-investment-group.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=daughtridge-investment-group
VITE_FIREBASE_STORAGE_BUCKET=daughtridge-investment-group.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=218831236690
VITE_FIREBASE_APP_ID=your_firebase_app_id
